@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

#container
{
	width: 700px;
	margin: 0 auto;
}

body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1
{
	font-family: "Times New Roman", Times, serif;
	font-size: 38px;
	letter-spacing: -1px;
	display: flex;
	justify-content: flex-start;
	margin: 15px;
}

p
{
	line-height: 24px;
	margin-bottom: 20px;
}

p:first-line
{
	font-weight: bold;
	color: #666;
}

p:first-letter
{
	color: #000;
	font-size: 50px;
}